<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" id="io.cordova.przebudzenie" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
  <name>Przebudzenie</name>
  <description>&#xD;
    Projekt grupowy Przebudzenie&#xD;
  </description>
  <author email="dev@cordova.apache.org" href="http://cordova.io">&#xD;
    PG&#xD;
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
</widget>