<!--
<ion-tabs class="tabs-striped tabs-color-active-positive">

    <ion-tab title="Home" icon="ion-home" ui-sref="sg.home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Map" icon="ion-map" ui-sref="sg.map">
        <ion-nav-view name="map-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="About" icon="ion-information" ui-sref="sg.about">
        <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
-->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content edge-drag-threshold="true"
                           drag-content="true">
        <ion-nav-bar class="bar-stable">

            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>

        </ion-nav-bar>
        <ion-nav-view name="mainContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>

                <ion-item ui-sref="sg.home" nav-clear menu-close>
                    <i class="ion-home"></i>Strona główna
                </ion-item>
                <ion-item ui-sref="sg.map" nav-clear menu-close>
                    <i class="ion-map"></i>Mapa
                </ion-item>
                <ion-item ui-sref="sg.places" nav-clear menu-close>
                    <i class="ion-location"></i>Miejsca
                </ion-item>
                <ion-item ui-sref="sg.about" nav-clear menu-close>
                    <i class="ion-information"></i>O aplikacji
                </ion-item>

<!--                 <div class="item item-divider" ng-if="activeView.menus.length">
                    Opcje
                </div>
                <ion-item ng-repeat="menu in activeView.menus" ng-click="menu.onClick($event)" menu-close>
                    <i ng-class="menu.class"></i>{{menu.label}}
                </ion-item> -->
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>

