<ion-view cache-view="false" view-title="{{title}}">

    <ion-content scroll="false" ng-if="map" class="padding calm">

        <ui-gmap-google-map
                id="map-canvas"
                center="map.center"
                zoom="map.zoom"
                draggable="map.draggable"
                pan="map.pan"
                control="map.control"
                options="map.options">

            <ui-gmap-map-control
                    template="sg.map.controls.centerMe.tpl.html"
                    position="top-right"
                    controller="MapCenterMeController"></ui-gmap-map-control>

            <ui-gmap-marker coords="myPosMarker"
                            options="myPosMarker.options"
                            idkey="-1"
                            icon="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'">
                           <ui-gmap-window options="windowOptions" isIconVisibleOnClick="true">
                                <p>Twoja Pozycja</p>
                             </ui-gmap-window>
            </ui-gmap-marker>

            <ui-gmap-markers
                    models="markers"
                    idkey="markers.id"
                    coords="'self'">
                     <ui-gmap-window options="windowOptions">
                        <p>"Windows"</p>
                    </ui-gmap-window>
            </ui-gmap-markers>

        </ui-gmap-google-map>

    </ion-content>

    <!-- gMap controls' templates -->
    <script id="sg.map.controls.centerMe.tpl.html" type="text/ng-template">
        <button class="button button-positive" ng-click="execute()">
            <i class="ion-android-star"></i>{{text}}
        </button>
    </script>
    <!-- gMap controls' templates -->
</ion-view>