<ion-view title="{{title}}">
    <ion-content scroll="false">

        <ui-gmap-google-map
                id="map-canvas"
                center="map.center"
                zoom="map.zoom"
                draggable="map.draggable"
                control="map.control"
                options="map.options"
                data-tap-disabled="true"
                style="width: 100%; height: 500px">

            <ui-gmap-map-control template="sg.map.controls.centerMe.tpl.html" position="top-right" controller="controls.centerOnMe" index="-1"></ui-gmap-map-control>

        </ui-gmap-google-map>

    </ion-content>

    <!-- gMap controls' templates -->
    <script type="text/ng-template" id="control.tpl.html">
        <button class="button button-clear" title="Centruj" ng-click="execute()"><i class="ion-android-star"></i></button>
    </script>
    <!-- gMap controls' templates -->
</ion-view>