body {
    text-shadow      : 1px 1px 0px rgba(0, 166, 7, 0.50);
    background-color : #80b0fa;
}

.sg-wrapper {
    background-color : #80b0fa;
}

.angular-google-map-container {
    display    : inline-block;
    width      : 100%;
    margin-top : 35px;
    height     : 450px;
}