body {
    text-shadow      : 1px 1px 0px rgba(0, 166, 7, 0.50);
    background-color : #80b0fa;
}

.sg-wrapper {
    background-color : #80b0fa;
}

.sg-main-content {
    color   : #ffffff;
    padding : 10px;
}